/* color */
.orange {
  color: darkorange !important;
}
.light-orange {
  color: #ffe4bd !important;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* button */
.btn {
  padding: 5px;
  background-color: darkorange;
  color: #fefefe;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border: none;
}

/* input */
input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
