/* color */
* {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}
body {
  background-color: #fefefe;
}
.orange {
  color: darkorange !important;
}
.light-orange {
  color: #ffe4bd !important;
}

/* button */
.btn {
  padding: 5px;
  background-color: darkorange;
  color: #fefefe;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border: none;
}

/* input */
input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* rules media responsive */
@media (min-width: 1281px) {
  .container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .responsive {
    grid-template-columns: 1fr !important;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .responsive {
    grid-template-columns: 1fr !important;
  }
}
